extends partials/layout

block content
  .ui.text.container
    //- Profile Information
    .ui.form
      h3.ui.dividing.header Personal Information
      .two.fields
        .field
          label First Name
          span=profile.first
        .field
          label Last Name
          span=profile.last
      .two.fields
        .field
          label Gender
          span=profile.gender
        .field
          label Phone
          span=profile.phone
      .field
        label Locations
        span=profile.locations.join(', ')
      
      //- Additional Information
      h3.ui.dividing.header Additional Information
      .three.fields
        .field
          label Types
          span=profile.types.join(', ')
        .field
          label Sports
          span=profile.sports.join(', ')
        .field
          label Blue Card Holder
          span=profile.bluecard
      .field
        label Experience and Qualifications
        span=profile.experience
      
      //- Available Times
      h3.ui.dividing.header Available Times
      table.ui.blue.table#day-time-table
        thead
          tr
            th.three.wide Day
            th.twelve.wide Available
        tbody