extends partials/layout

block content
  .ui.text.container
    if success.length != 0
      .field.ui.positive.message=success
    if info.length != 0
      .field.ui.warning.message=info
    if error.length != 0
      .field.ui.negative.message=error

    //- Profile Information
    form.ui.form#profile(method='post' action='')
      //- Personal Information Entry
      h3.ui.dividing.header Personal Information
      .two.fields
        .field
          label First Name
          input(type='text', name='first', placeholder='First Name', value=(user.profile) ? user.profile.first: null)
        .field
          label Last Name
          input(type='text', name='last', placeholder='Last Name', value=(user.profile) ? user.profile.last: null)
      .three.fields
        .field
          label Gender
          select.ui.fluid.search.dropdown(name='gender')
            option(value='') Gender
            option(value='Male' selected=(user.profile && user.profile.gender === 'Male')) Male
            option(value='Female' selected=(user.profile && user.profile.gender === 'Female')) Female
        .field
          label Locations
          select.ui.search.dropdown#locations(name='locations', multiple='')
            option(value='') Locations
            option(value='Brisbane Central' selected=(user.profile && user.profile.location === 'Brisbane Central')) Central Brisbane
            option(value='Brisbane North' selected=(user.profile && user.profile.location === 'Brisbane North')) North Brisbane
            option(value='Brisbane South' selected=(user.profile && user.profile.location === 'Brisbane South')) South Brisbane
            option(value='Brisbane East' selected=(user.profile && user.profile.location === 'Brisbane East')) East Brisbane
            option(value='Brisbane West' selected=(user.profile && user.profile.location === 'Brisbane West')) West Brisbane
            option(value='Sunshine Coast' selected=(user.profile && user.profile.location === 'Sunshine Coast')) Sunshine Coast
            option(value='Gold Coast' selected=(user.profile && user.profile.location === 'Gold Coast')) Gold Coast
        .field
          label Phone
          input(type='text', name='phone', placeholder='Phone', value=(user.profile) ? user.profile.phone: null)
      
      //- Additional Information Entry
      h3.ui.dividing.header Additional Information
      .three.fields
        .field
          label Types
          select.ui.fluid.search.dropdown#types(name='types', multiple='')
            option(value='') Types
            option(value='Coach') Coach
            option(value='Umpire/Referee') Umpire/Referee
            option(value='Sports Instructor') Sports Instructor
            option(value='Sports Medicine') Sports Medicine
        .field
          label Sports
          select.ui.fluid.search.dropdown#sports(name='sports', multiple='')
            option(value='') Sports
            option(value='Athletics') Athletics
            option(value='AFL') AFL
            option(value='Badminton') Badminton
            option(value='Basketball') Basketball
            option(value='Boxing') Boxing
            option(value='Cricket') Cricket
            option(value='Dance') Dance
            option(value='Fencing') Fencing
            option(value='Football (Soccer)') Football (Soccer)
            option(value='Futsal') Futsal
            option(value='Golf') Golf
            option(value='gymGymnasticsnastics') Gymnastics
            option(value='Hockey') Hockey
            option(value='Martial Arts') Martial Arts
            option(value='Netball') Netball
            option(value='Personal Trainer') Personal Trainer
            option(value='Pilates') Pilates
            option(value='Rugby League') Rugby League
            option(value='Rugby Union') Rugby Union
            option(value='Running') Running
            option(value='Swimming') Swimming
            option(value='Team Handball') Team Handball
            option(value='Tennis') Tennis
            option(value='Touch Football') Touch Football
            option(value='Triathlon') Triathlon
            option(value='Volleyball') Volleyball
            option(value='Yoga') Yoga
            option(value='Zumba') Zumba
            option(value='Other') Other
        .field
          label Blue Card Holder
          select.ui.dropdown(name='bluecard')
            option(value='') Blue Card Holder
            option(value='Yes' selected=(user.profile && user.profile.bluecard === 'Yes')) Yes
            option(value='Pending' selected=(user.profile && user.profile.bluecard === 'Pending')) Pending
            option(value='No' selected=(user.profile && user.profile.bluecard === 'No')) No
      .field
        label Experience and Qualifications
        textarea(name='experience', placeholder='Experience and Qualifications')=(user.profile) ? user.profile.experience: null
      
      //- Available Times Entry
      h3.ui.dividing.header Available Times
      #day-time-add
        input#daytimes(type='hidden', name='daytimes')
        .fields
          .five.wide.field
            label Day
            select.ui.search.dropdown#time-day-day
              option(value='') Day
              option(value='Monday') Monday
              option(value='Tuesday') Tuesday
              option(value='Wednesday') Wednesday
              option(value='Thursday') Thursday
              option(value='Friday') Friday
              option(value='Saturday') Saturday
              option(value='Sunday') Sunday
          .four.wide.field
            label Start
            .ui.calendar#time-day-start
              .ui.input.left.icon
                i.time.icon
                |
                input(type='text', placeholder='Time')
          .four.wide.field
            label End
            .ui.calendar#time-day-end
              .ui.input.left.icon
                i.time.icon
                |
                input(type='text', placeholder='Time')
          .three.wide.field
            label &nbsp;
            button.ui.labeled.icon.button.green.fluid(type="button", onclick="addTimeSlot()")
              i.plus.icon
              | Add
      .field
      .ui.negative.message#time-day-error(hidden=true)
        p Please select a day, start, and end to add to your search.
      table.ui.blue.table#day-time-table(hidden=true)
        thead
          tr
            th.three.wide Day
            th.twelve.wide Available
        tbody
      .field
        button.ui.button.blue.fluid Save
      .ui.error.message

  if user.profile
    script.
      $(document).ready(function () {
        $('#locations').dropdown('set selected', '#{user.profile.locations}'.split(','));
        $('#types').dropdown('set selected', '#{user.profile.types}'.split(','));
        $('#sports').dropdown('set selected', '#{user.profile.sports}'.split(','));
      });

  script.
    $(document).ready(function () {
      // Enable Calanders
      $('#time-day-start').calendar({ type: 'time' });
      $('#time-day-end').calendar({ type: 'time' });

      // Form Validation
      $('.ui.form').form({
        fields: {
          firstName: {
            identifier: 'first',
            rules: [
              { type: 'empty', prompt: 'Please enter your First Name' }
            ]
          },
          lastName: {
            identifier: 'last',
            rules: [
              { type: 'empty', prompt: 'Please enter your Last Name' }
            ]
          },

          gender: {
            identifier: 'gender',
            rules: [
              { type: 'empty', prompt: 'Please select your Gender' }
            ]
          },
          locations: {
            identifier: 'locations',
            rules: [
              { type: 'empty', prompt: 'Please select your Location' }
            ]
          },
          types: {
            identifier: 'types',
            rules: [
              { type: 'empty', prompt: 'Please select the types of roles you\'re suited for' }
            ]
          },
          sports: {
            identifier: 'sports',
            rules: [
              { type: 'empty', prompt: 'Please select the sports you work with' }
            ]
          },
          bluecard: {
            identifier: 'bluecard',
            rules: [
              { type: 'empty', prompt: 'Please select your Bluecard status' }
            ]
          },
        }
      });
    });

    // Time Search Functionality
    var dayTimes = { Monday: [], Tuesday: [], Wednesday: [], Thursday: [], Friday: [], Saturday: [], Sunday: [] };

    function addTimeSlot() {
      var day = $('#time-day-day').val();
      var start = $('#time-day-start input').val();
      var end = $('#time-day-end input').val();

      if (day !== '' && start !== '' && end !== '') {
        // Could add some validation here? : new Date(2010, 12, 21, 9, 30, 0, 0), // today 9:30:00:000
        // Could also write logic to add times for an existing day to the existing row rather than adding a new row.

        // Add to the Table.
        var newRow = '<tr><td>' + day + '</td><td>' + start + ' - ' + end + '</td></tr>';
        $('#day-time-table > tbody:last-child').append(newRow);

        // Add to the DataStore.
        dayTimes[day].push(start + ' - ' + end);

        // Hide Error.
        $('#time-day-error').attr('hidden', true);

        // Show Table.
        $('#day-time-table').attr('hidden', false);
      } else {
        $('#time-day-error').attr('hidden', false);
      }
    }

    // Search Form Submit
    $('#profile').submit(function(form) {
      //- form.preventDefault(); // Debugging
      
      // Add the dayTimes data to the form before it's submitted.
      $('#daytimes').val(JSON.stringify(dayTimes));
    });