extends partials/layout

block content
  style(type='text/css').
    body { background-color: #011849; }
    body > .grid { height: 100%; }
    .image { margin-top: -100px; }
    .column { max-width: 450px; }

  .ui.middle.aligned.center.aligned.grid
    .column
      form.ui.large.form(method="post" action="/register")
        input(type='hidden', name='type', value=type)
        .ui.stacked.segment
          h2.ui.sc-gold-text.image.header
            .content
              | Register your account
          if errors
            each error in errors
              .ui.negative.message
                p=error
          .field
            .ui.left.icon.input
              i.mail.icon
              if !retryEmail
                input(type='text', name='email', placeholder='E-mail address')
              else
                input(type='text', name='email', value=retryEmail)
          .field
            .ui.left.icon.input
              i.lock.icon
              input(type='password', name='password', placeholder='Password')
          .field
            .ui.left.icon.input
              i.lock.icon
              input(type='password', name='passwordv', placeholder='Confirm Password')
          .field
            .ui.checkbox
              input(type='checkbox', name='tnc')
              |  
              if (type === 'individual')
                label I agree to the SportsConnection <a href='files/Sport-Facilitator-Registration-Terms.pdf' target="_blank">terms and conditions</a>.
              if (type === 'organisation')
                label I agree to the SportsConnection <a href='files/Sporting-Organisation-Registration-Terms.pdf' target="_blank">terms and conditions</a>.

          .field
            .ui.fluid.large.sc-gold-button.submit.button Register as an #{type[0].toUpperCase() + type.substring(1)}
          .field
            p Not an #{type[0].toUpperCase() + type.substring(1)}? 
              | Click <a href="/register?type=#{(type === 'individual') ? 'organisation' : 'individual'}">here</a> to Register as an 
              | #{(type === 'individual') ? 'Organisation' : 'Individual'}.
        .ui.error.message
      .ui.message
        | Already have an account?
        a(href='/login')  Login






  script.
    $(document).ready(function () {
      $('.ui.form').form({
        fields: {
          firstName: {
            identifier: 'reg_firstName',
            rules: [
              {type: 'empty', prompt: 'Please enter your first name'}
            ]
          },
          lastName: {
            identifier: 'reg_lastName',
            rules: [
              {type: 'empty', prompt: 'Please enter your last name'}
            ]
          },
          email: {
            identifier: 'reg_email',
            rules: [
              {type: 'empty', prompt: 'Please enter your e-mail'},
              {type: 'email', prompt: 'Please enter a valid e-mail'}
            ]
          },
          password: {
            identifier: 'reg_password',
            rules: [
              {type: 'empty', prompt: 'Please enter your password'},
              {type: 'length[6]', prompt: 'Your password must be at least 6 characters'}
            ]
          },
          passwordRepeat: {
            identifier: 'reg_passwordv',
            rules: [
              {type: 'empty', prompt: 'Please enter your password'},
              {type: 'length[6]', prompt: 'Your password must be at least 6 characters'}
            ]
          }
        }
      });
    });